*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Open Sans;
    background: url(../img/TOP_BACK.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    padding: 30px;
    width: 200px;
}

nav{
    background: transparent;
    height: 80px;
    width: 100%;
}

.navbar-links ul{
    margin-right: 70px;
    padding: 0;
    display: flex;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 20px; 
}

nav ul li a:hover{
    background: #F44F9E;
    transition: 0.88s;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

@media (max-width: 1020px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .navbar-links{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: 0.5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}
 
.headings{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-top: 9rem;
    padding-left: 5.25rem;
}

.headings p:nth-child(1){
    font-size: 1.25rem;
    font-weight: 300;
}

.headings p:nth-child(2){
    
    font-size: 6.25rem;
    font-weight: 900;
}

.headings p:nth-child(3){
    padding-top: 1.75rem;
    font-size: 1.25rem;
    font-weight: 500;
}

